:host {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

$side-panel-width: 300px;
.side-panel {
  height: calc(100vh);
  width: $side-panel-width;

  > div {
    &:not(:last-child) {
      border-bottom: 1px solid black;
    }
    width: 100%;

    > div {
      min-height: 100px;
      background-color: #cccccc;
      position: relative;
      padding: 6px;

      button {
        visibility: hidden;
        position: absolute;
        top: 8px;
        right: 8px;
      }

      &:hover button {
        visibility: visible;
      }
    }
  }
}

.container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px;
  display: inline-block;
  vertical-align: top;

  mat-list-item .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
