<div class="side-panel">
  <div>
    <h3>Prompt</h3>
    <div>
      <button mat-icon-button [cdkCopyToClipboard]="allPositivePrompts()">
        <span class="material-symbols-outlined">content_copy</span>
      </button>
      {{ allPositivePrompts() }}
    </div>
  </div>
  <div>
    <h3>Negative Prompt</h3>
    <div>
      <button mat-icon-button [cdkCopyToClipboard]="allNegativePrompts()">
        <span class="material-symbols-outlined">content_copy</span>
      </button>
      {{ allNegativePrompts() }}
    </div>
  </div>
  <button mat-flat-button color="accent" (click)="clear()">Clear</button>
  <button mat-flat-button color="primary" (click)="save()">Save</button>

  <mat-form-field appearance="fill">
    <mat-label>Load...</mat-label>
    <mat-select #loadSelect (valueChange)="load($event, loadSelect)">
      <mat-option *ngFor="let savedPrompt of savedPrompts" [value]="savedPrompt.name">
        {{ savedPrompt.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Delete...</mat-label>
    <mat-select #deleteSelect (valueChange)="deleteSavedPrompt($event, deleteSelect)">
      <mat-option *ngFor="let savedPrompt of savedPrompts" [value]="savedPrompt.name">
        {{ savedPrompt.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="mat-caption">
    <p>
      All tags and categories come from
      <a href="https://danbooru.donmai.us/wiki_pages/tag_groups" target="_blank">this wiki</a>. There are many more tags
      to explore there so feel free to check it out. I only wanted to include a sampling of what I felt were relevant
      tags for AI character generation
    </p>
    <p>
      Found a bug or have a suggestion on how to make this more useful?
      <a href="https://github.com/TomMalufe/Prompt-Helper/issues" target="_blank">Leave feedback here.</a>
    </p>
  </div>
</div>
<div class="container">
  <h2>Positive Prompts</h2>

  <mat-list>
    <mat-list-item *ngFor="let item of positivePrompts">
      <div class="content">
        <div>{{ item.toString() }}</div>
        <div>
          <button mat-icon-button (click)="emphasise(item, -1)">
            <span class="material-symbols-outlined">do_not_disturb_on</span>
          </button>
          <button mat-icon-button (click)="emphasise(item, 1)">
            <span class="material-symbols-outlined">add_circle</span>
          </button>
          <button mat-icon-button (click)="addRemovePrompt(item, PromptValues.NONE)">
            <span class="material-symbols-outlined">cancel</span>
          </button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>

<div class="container">
  <h2>Negative Prompts</h2>

  <mat-list>
    <mat-list-item *ngFor="let item of negativePrompts">
      <div class="content">
        <div>{{ item.toString() }}</div>
        <div>
          <button mat-icon-button (click)="emphasise(item, -1)">
            <span class="material-symbols-outlined">do_not_disturb_on</span>
          </button>
          <button mat-icon-button (click)="emphasise(item, 1)">
            <span class="material-symbols-outlined">add_circle</span>
          </button>
          <button mat-icon-button (click)="addRemovePrompt(item, PromptValues.NONE)">
            <span class="material-symbols-outlined">cancel</span>
          </button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>

<mat-tab-group class="vertical">
  <mat-tab label="Image Composition">
    <app-category-tab
      [defaultPrompts]="DEFAULT_COMPOSITION_PROMPTS"
      [positivePrompts]="positivePrompts"
      [negativePrompts]="negativePrompts"
      (updatePrompt)="addRemovePrompt($event.prompt, $event.value)"
    ></app-category-tab>
  </mat-tab>
  <mat-tab label="Face">
    <app-category-tab
      [defaultPrompts]="DEFAULT_FACE_PROMPTS"
      [positivePrompts]="positivePrompts"
      [negativePrompts]="negativePrompts"
      (updatePrompt)="addRemovePrompt($event.prompt, $event.value)"
    ></app-category-tab>
  </mat-tab>
  <mat-tab label="Hair">
    <app-category-tab
      [defaultPrompts]="DEFAULT_HAIR_PROMPTS"
      [positivePrompts]="positivePrompts"
      [negativePrompts]="negativePrompts"
      (updatePrompt)="addRemovePrompt($event.prompt, $event.value)"
    ></app-category-tab>
  </mat-tab>
  <mat-tab label="Body">
    <app-category-tab
      [defaultPrompts]="DEFAULT_BODY_PROMPTS"
      [positivePrompts]="positivePrompts"
      [negativePrompts]="negativePrompts"
      (updatePrompt)="addRemovePrompt($event.prompt, $event.value)"
    ></app-category-tab>
  </mat-tab>
  <mat-tab label="Expression">
    <app-category-tab
      [defaultPrompts]="DEFAULT_EXPRESSION_PROMPTS"
      [positivePrompts]="positivePrompts"
      [negativePrompts]="negativePrompts"
      (updatePrompt)="addRemovePrompt($event.prompt, $event.value)"
    ></app-category-tab>
  </mat-tab>
  <mat-tab label="Pose">
    <app-category-tab
      [defaultPrompts]="DEFAULT_POSE_PROMPTS"
      [positivePrompts]="positivePrompts"
      [negativePrompts]="negativePrompts"
      (updatePrompt)="addRemovePrompt($event.prompt, $event.value)"
    ></app-category-tab>
  </mat-tab>
  <mat-tab label="Attire">
    <app-category-tab
      [defaultPrompts]="DEFAULT_ATTIRE_PROMPTS"
      [positivePrompts]="positivePrompts"
      [negativePrompts]="negativePrompts"
      (updatePrompt)="addRemovePrompt($event.prompt, $event.value)"
    ></app-category-tab>
  </mat-tab>
</mat-tab-group>
