<div class="side-panel">
  <div>
    <h3>Prompt</h3>
    <div>
      <button mat-icon-button [cdkCopyToClipboard]="allPositivePrompts()">
        <span class="material-symbols-outlined">content_copy</span>
      </button>
      {{ allPositivePrompts() }}
    </div>
  </div>
  <div>
    <h3>Negative Prompt</h3>
    <div>
      <button mat-icon-button [cdkCopyToClipboard]="allNegativePrompts()">
        <span class="material-symbols-outlined">content_copy</span>
      </button>
      {{ allNegativePrompts() }}
    </div>
  </div>
</div>
<mat-tab-group>
  <mat-tab label="Image Composition">
    <app-category-tab [defaultPrompts]="DEFAULT_COMPOSITION_PROMPTS" #composition></app-category-tab>
  </mat-tab>
</mat-tab-group>
