<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <span class="material-symbols-outlined">menu</span>
  </button>
  <h1>Prompt Helper</h1>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" #sidenav>
    <mat-list>
      <a mat-list-item routerLink="overview" routerLinkActive="active-link">Overview</a>
      <a mat-list-item routerLink="details" routerLinkActive="active-link">Details</a>
      <mat-list-item class="grouping">Tag Categories</mat-list-item>
      <a mat-list-item routerLink="tags/composition" routerLinkActive="active-link">Composition</a>
      <a mat-list-item routerLink="tags/face" routerLinkActive="active-link">Face</a>
      <a mat-list-item routerLink="tags/hair" routerLinkActive="active-link">Hair</a>
      <a mat-list-item routerLink="tags/body" routerLinkActive="active-link">Body</a>
      <a mat-list-item routerLink="tags/attire" routerLinkActive="active-link">Attire</a>
      <a mat-list-item routerLink="tags/expression" routerLinkActive="active-link">Expression</a>
      <a mat-list-item routerLink="tags/pose" routerLinkActive="active-link">Pose</a>
     </mat-list>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>

