:host {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  mat-drawer {
    mat-list-item.grouping {
      background-color: #3f51b5;
      color: white;
      font-weight: bold;
    }

    .active-link {
      background-color: lightgray;
    }
  }

  mat-drawer-container {
    height: calc(100vh - 64px);
  }
}
